<nav>
<ul>
</ul>

<li> <%= link_to "Home" , root_path%> </li>

<li> <%= link_to "Shop", shop_path %> </li>

<li> <%= link_to "Events", event_path %> </li>

<li> <%= link_to "Discussion", discussions_path%></li>

</nav>
